* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;

}

body {
    background-color: rgb(250, 218, 176);

}



.navbar {
    /* margin-top: 1.4rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    /* transform: skew(25deg,25deg); */
    /* transform: skew(30deg); */
    background-color: maroon;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    /* border-top-left-radius: 4rem; */
    border-bottom: 0.5px solid rgb(250, 218, 176);

}

.navbar a {
    text-decoration: none;
}

.logo {
    margin-left: 6rem;
    font-size: 1.5rem;
    ;
}

.logo p {
    font-family: 'Playfair Display', serif;
    font-size: 3.3rem;
    color: whitesmoke
}

.logo span {
    font-family: 'Dancing Script', cursive;
}

.main-items ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 6rem;
    gap: 1rem;
}

.main-items ul li {
    color: whitesmoke;
    font-size: 1.5rem;
    list-style-type: none;
    font-family: 'Kaushan Script', cursive;
    transition: all 100ms ease;
    padding-inline: 0.8rem;


}

.main-items ul li:hover {
    color: rgb(250, 218, 176);
    text-shadow: 1px 1px 1px black;
    border-bottom: 1px solid rgb(250, 218, 176);
    padding-bottom: 0.5rem;

}

.main {
    position: relative;
    background-color: maroon;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    height: 280vh;
    width: 90vw;
    border-radius: 0 0 45vw 45vw;


}

.info {
    position: relative;
    margin-left: 4rem;
    top: -5rem;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info p {
    margin-top: -110%;
    font-size: 2rem;
    color: whitesmoke;
    font-weight: 400;
}

.item1 {
    color: burlywood;
    font-weight: 600;
    font-size: 4rem;
}

.interior-image img {
    position: relative;
    /* margin-top: rem; */
    height: 170vh;
    width: 30rem;

    object-fit: cover;
    border-radius: 0 0 15rem 15rem;

}

.extended-image {
    position: absolute;
    top: 0;
    left: 32.5%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.light-line {
    margin-right: 6px;
    height: 45vh;
    width: 2px;
    background-color: burlywood;
}

.light-image {
    position: relative;
    bottom: -7rem;
    margin-top: -10rem;
    object-fit: cover;
    height: 300px;
    width: 300px;
}

.btn1 {
    position: relative;
    border: 2px solid black;
    top: -7rem;
    font-weight: 600;
    height: 3rem;
    width: 10rem;
    padding-bottom: 0.5rem;
    padding-top: 0.4rem;
    font-size: 1rem;
    background-color: burlywood;
    color: black;
    border-radius: 1rem;
    border-style: none;
    color: white;
    background-image: linear-gradient(to right, rgba(239, 112, 112, 0.865), burlywood);
}

.btn1:hover {
    color: rgb(156, 4, 4);
    background-color: rgb(235, 147, 129);
}

.lines-image {
    display: flex;
    flex-direction: row;
}


.about-page {
    position: absolute;
    left: 25rem;
    height: 15vh;
    width: 55vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

.sec {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sec p {
    position: absolute;
    left: -30rem;
    width: 40rem;
    text-align: end;
    color: aliceblue;
    font-size: 2.5rem;
}

.sec img {
    height: 2rem;
    width: 25rem;
    object-fit: cover;
    margin-right: 6.5rem;

}

.reviews {
    position: relative;
}

.btn2 {
    position: absolute;
    right: 5rem;
    top: 35rem;
    height: 3.2rem;
    width: 11rem;
    border-radius: 1rem;
    border-style: none;
    background-color: burlywood;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-image: linear-gradient(to right, rgba(239, 112, 112, 0.865), burlywood);

}

.btn2:hover {
    color: rgb(156, 4, 4);
    background-color: rgb(235, 147, 129);
}

.login-section {
    border: 2px solid black;
    height: 30rem;
    width: 39%;
    position: absolute;
    left: 27%;
    top: 62%;

}

h1 {
    text-align: center;
    color: whitesmoke;
    padding: 15px 5px 5px 5px;

}

.wrapper {
    position: absolute;
    /* left: 4%; */
    top: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
}

.login-info{
    border: 2px solid black;
    height: 2.4rem;
    height: 60%;
    width: 30%;
}